{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="row DarkWood ">
            <h1 class="Title d-flex justify-content-center TitleAccueil">Bienvenue au Zoo Arcadia</h1>
        <div class="container col-10 d-flex justify-content-center blockImage">
            <img src="{{ asset('images/image girafe.webp')}}" alt="menu logo" width="1050rem"  class="imageAccueil img-fluid">
        </div>
    </div>

    <div class="row bois">
    <div class="container col-10">
        <p class="Paragraphe1  marginparagraphe ">Arcadia est un ZOO situé en France prés de la forêt de Brocéliande,  en Bretagne depuis 1960. 
                                                    Il posséde tout un panel d’animaux, répartie par habitat (savane, jungle, marais).
                                                Arcadia est ouvert au public, afin que celui-ci découvre la nature, et tout cela dans un respect des animaux, ainsi que de l’écologie.</p
    </div>
    </div>

    <div class=" DarkWood ">
     
            <div class="container col-10  d-flex justify-content-center align-items-center">      
                <div class="row mb-5">   
                <div class="col-12 col-md-6 ">
                    <img src="{{ asset('images/Petit singe.jpg')}}" alt="menu logo" width="1050rem" class=" img-fluid imageAccueil2">
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <p class="Paragraphe1   mt-4">Vous pourrez Observer les nombreux animaux que possédent le Zoo,  dans différents milieux et en semi-libertés
                    Afin d’avoir une expérience inoubliable.</p>
                
                </div>
           </div>   
        </div>
    </div>
   
    <div class=" bois ">
       
            <div class="container col-10  d-flex justify-content-center align-items-center">      
              <div class="row mb-5">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <p class="Paragraphe1   mt-4">Venez découvrir des animaux sauvages, du Crocodile au lion,  en passant par les chimpanzés et les Koalas.
Tout cela dans un cadre agréable et sauvage.</p>
                </div>

                <div class="col-12 col-md-6 ">
                     <img src="{{ asset('images/Zébre.jpg')}}" alt="menu logo" width="1050rem" class=" img-fluid imageAccueil2">
                </div>                 
           </div>   
        </div>
    </div>

    <div class=" DarkWood ">
    <h1 class="Title d-flex justify-content-center TitleAccueil">Habitats</h1>
        
            <div class="container col-10  d-flex justify-content-center align-items-center">      
                 <div class="row mb-5">
                <div class="col-12 col-md-6 mb-5">
                <img src="{{ asset('images/habitat image accueil pinguoins.webp')}}" alt="menu logo" width="1050rem" class=" img-fluid imageAccueil2">
                </div>

                <div class=" col-12 col-md-6 mt-4 d-flex justify-content-center align-items-center">
                <div>
                 <p class="Paragraphe1 ">Découvrez différent habitats, telle que la Savane, la Jungle, le monde polaire, les Marrais, les Steppes, le monde Aquatique, ou encore le Désert.</p>            
                 <div class="container col d-flex justify-content-center mt-5">
                 <button class="btn colorbtn ">Habitats</button>
                </div> 
                </div>
                </div>                
           </div>   
        </div>
    </div>

    <div class="bois row">
    <div class="container col-10">
        <h1 class="Title d-flex justify-content-center text-center TitleAccueil">Animaux Présent sur le ZOO</h1>
        <p class="Paragraphe1 mt-5 mb-5">Venez découvrir de nombreux animaux, en effet le Zoo Arcadia posséde des Aligator du mississippi, un anaconda, des perroquer, Divers oiseaux, plusieurs caméléon, des chimpanzer, deux koala, un lion, deux tigres, des éléphants d’asie, hipopothame, des flamant rose, des girafes,
                                deux gépards...</p>
    </div>
    </div>

   <div class="DarkWood row"> 
    <div class="container col-10">
        <h1 class="Title d-flex justify-content-center TitleAccueil">Services</h1>
        <p class="Paragraphe1 mt-5">Le parc dispose de plusieur services, comme la Restauration, la Visite des habitats avec un guide, la Visite du zoo en petit train</p>
            <div class="  d-flex justify-content-center mt-5 mb-5" >
                 <button class="btn colorbtn ">Services</button>
            </div> 
    </div>
</div>


<div class="bois mb-5 row"> 
    <div class="container  col-10">
        <h1 class="Title d-flex justify-content-center TitleAccueil mb-5">Avis</h1>
<div class="row ">
    <div class="col-12 col-md-4 d-flex justify-content-center mt-5">
        <div class="card cardStyle" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title">Card title</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center mt-5">
        <div class="card cardStyle" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title">Card title</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center mt-5">
        <div class="card cardStyle" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title">Card title</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>






{% endblock %}
