{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="row DarkWood ">
            <h1 class="Title d-flex justify-content-center TitleAccueil">Bienvenue au Zoo Arcadia</h1>
        <div class="container col-10 d-flex justify-content-center blockImage">
            <img src="{{ asset('images/image girafe.webp')}}" alt="menu logo" width="1050rem" class="imageAccueil img-fluid">
        </div>
    </div>

    <div class="row bois">
    <div class="container col-10">
        <p class="Paragraphe1  marginparagraphe ">Arcadia est un ZOO situé en France prés de la forêt de Brocéliande,  en Bretagne depuis 1960. 
                                                    Il posséde tout un panel d’animaux, répartie par habitat (savane, jungle, marais).
                                                Arcadia est ouvert au public, afin que celui-ci découvre la nature, et tout cela dans un respect des animaux, ainsi que de l’écologie.</p
    </div>
    </div>

    <div class=" DarkWood ">
        <div class="row ">
            <div class="container col-10  d-flex justify-content-center align-items-center">      
             
                <div class="col-12 md-6 ">
                    <img src="{{ asset('images/Petit singe.jpg')}}" alt="menu logo" width="1050rem" class=" img-fluid imageAccueil2">
                </div>
                <div class="col-12 md-6 ">
                    <p class="Paragraphe1 marginparagraphe2  ms-4">Vous pourrez Observer les nombreux animaux que possédent le Zoo,  dans différents milieux et en semi-libertés
                    Afin d’avoir une expérience inoubliable.</p>
                    
                </div>
           </div>   
        </div>
    </div>
   


{% endblock %}
