{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}

<div class="row DarkWood">
    <div class="container col-10 mb-5">
        <h1 class="Title d-flex justify-content-center TitleAccueil mb-5">Habitats</h1>
        
        <div class="container col-10">
            
                <!-- Button trigger modal -->
                <!--Cards-->
            <div class="card bois col-12 col-md-4 d-flex justify-content-center habitatsCards" style="width: 18rem;">
                <img src="{{ asset('images/Habitats Jungle.jpg')}}" class="card-img-top img-fluid mt-3 habitatsBorder container col-10 imageHabitats" alt="...">
            <div class="card-body">
                <h5 class="card-title Title d-flex justify-content-center mt-2">Jungle</h5>
            <div class="d-flex justify-content-center ">
                <button type="button" data-bs-toggle="modal" class="btn colorbtndark mt-3" data-bs-target="#myModal"><i class="icon icon-sign-out icon-lg"></i>En savoir plus</button>
              
            </div>
        </div>
    </div>
                <!--Finds cards -->


<!-- Modal -->
<div class="modal fade DarkWood" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bois Paragraphe1">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
             
                <h4 class="modal-title">Voici les différents animaux présents dans cette habitats</h4>
            </div>
            <div class="modal-body Paragraphe2">
                <h3>Crocodile:</h>
                <p>Présentation des crocodiles</p>
                 <h3>Python:</h>
                <p>Présentation des Python</p>
            </div>
            <div class="modal-footer">
                
                <button class="btn btn-inverse Paragraphe1" type="button " data-bs-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
        </div>
    </div>
</div>

            </div>

        </div>


    </div>
</div>

<div class="row bois">
    <div class="container col-6 text-center mb-4">  
        <h1 class="Title  TitleAccueil">Découvrer les différents Habitats</h1>
    </div>
</div>




{% endblock %}