{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}

<div class="row DarkWood">
    <div class="container col-10 mb-5">
        <h1 class="Title d-flex justify-content-center TitleAccueil mb-5">Habitats</h1>


       
        <div class="container col-10">
    
        <div class="row">
        
        {% for habitat in habitats %}
      
        
             {% include "partials/_habitat.html.twig" %} 
            {% include "partials/_modalHabitat.html.twig" %}
       
        {% endfor %}
        
             
        
        </div>
        </div>
    </div>
<div class="row bois mt-4">
    <div class="container col-6 text-center mb-4 ">  
        <h1 class="Title  TitleAccueil">Découvrer les différents Habitats</h1>
    </div>
</div>

</div>
</div>


{% endblock %}