<div class="row bois">
    
    <div class="col-4">
        <img src="{{ asset('images/logo Girafe.jpg')}}" alt="image girafe" height="120rem" class="marginLogo">
    </div>
    <div class="col-4">
        <h5 class="Title text-center  phoneTitle">ARCADIA</h5>
    </div>
    <div class="col-4">
        <div class="dropdown ">
            <button class="btn foret dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('images/menu.png')}}" alt="menu logo" height="80rem" class="menuLogo">
            </button>
        <ul class="dropdown-menu dropdown-content" height="200px">
                <li><a class="dropdown-item" href="#">Services</a></li>
                <li><a class="dropdown-item" href="#">Habitats</a></li>
                <li><a class="dropdown-item" href="#">Avis</a></li>
                <li><a class="dropdown-item" href="#">Contact</a></li>
                <li><a class="dropdown-item" href="#">Connexion</a></li>
        </ul>
        </div>
        
    </div>
</div>