<!-- Modal -->

    
<div class="modal fade DarkWood " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bois Paragraphe1 ">
       
            <div class="modal-header d-flex justify-content-center">
                
             <!--debut modal-->
                <h4 class="modal-title Title ">Voici l'habitats {{ habitat.nom }}</h4>
            </div>
            <div class="modal-body Paragraphe3">
                <p>{{ habitat.description }}</p>
            </div>
      
               <h4 class="modal-title">Voici les différents animaux présents dans cette habitats</h4>
           
           <!--debut animaux-->

           
            <div class="row Title">
                <h2>Jack le crocos</h2>
                <h3 class="mb-3">Race: Crocodile du nil</h3>
                    <div class="container col-10">         
                        <img src="{{ asset('images/Jack le crocos.jpg')}}" alt="image crocodile du nil" width="350rem"   class="imageAnimalHabitats img-fluid">
                    </div>
                <p class="Paragraphe3 mt-3 ">Le Crocodile du Nil est l'un des quatre plus grands crocodiliens du monde avec le Crocodile marin, le Gavial du Gange et le Caïman noir. Le mâle adulte mesure entre 3,5 et 5 m de long (4 m en moyenne) et pèse 225 à 750 kg2. Cependant, des spécimens dépassant 6,1 m de long et pesant jusqu'à 1 089 kg ont été enregistrés, comme « Gustave » au Burundi3. La femelle est plus petite, d'environ 30 %. La force de morsure du Crocodile du Nil est de l'ordre de 22 kilonewtons, soit 2,2 tonnes-force.</p>
            </div>   

             
            <!--fin animaux-->

            <!--Fin modal-->
           
                
                <button class="btn btn-inverse Paragraphe1  DarkWood" type="button " data-bs-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
        </div>
    </div>


       